
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.table-responsive table td {
  font-weight: 500;
}
p {
  margin: 0;
  padding: 0;
}
.mt-30 {
  margin-top: 30px;
}
.ml-10 {
  margin-left: 10px;
}
.fs-18 {
  font-size: 18px;
}

.mt-25 {
  margin-top: 25px;
}

.navbar-custom .logo-light {
    display: none;
  }
  .navbar-custom .logo-dark {
    display: block;
  }
  .navbar-custom {
    background-color: var(--ct-logo-box-background);
    box-shadow: 0px 3px 3px rgba(28, 36, 51, 0.1);
    padding: 0 calc(1.5rem / 2) 0 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1001;
  }
  
  .navbar-custom .topnav-menu.topnav-menu-left {
    display: inline-block;
  }
  .navbar-custom .topnav-menu > li {
    float: left;
  }
  .navbar-custom .topnav-menu > li.notification a .t {
    background: #EEEEEE;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-custom .topnav-menu .nav-link {
    padding: 0 15px;
    color: #6c757d;
    min-width: 32px;
    display: block;
    line-height: 80px;
    text-align: center;
    max-height: 80px;
    font-weight: 600;
  font-size: 14px;
  font-family: 'Inter';
  }
  .navbar-custom .topnav-menu .nav-link i {
    font-size: 18px;
    margin-left: 2px;
    line-height: 1;
  }
  .navbar-custom .dropdown.show .nav-link {
    background-color: rgba(108, 117, 125, 0.05);
  }
  .navbar-custom .app-search {
    overflow: hidden;
    height: 70px;
    display: table;
    max-width: 180px;
    margin-right: 20px;
  }
  .navbar-custom .app-search .app-search-box {
    display: table-cell;
    vertical-align: middle;
  }
  .navbar-custom .app-search .app-search-box input::placeholder {
    font-size: 0.8125rem;
    color: #adb5bd !important;
  }
  .navbar-custom .app-search .form-control {
    border: none;
    height: 38px;
    padding-left: 20px;
    padding-right: 0;
    color: #323a46;
    background-color: var(--ct-topbar-search-bg);
    box-shadow: none;
    border-radius: 30px 0 0 30px;
  }
  .navbar-custom .app-search .input-group-text {
    margin-left: 0;
    z-index: 4;
  }
  .navbar-custom .app-search .btn {
    background-color: var(--ct-topbar-search-bg);
    border-color: transparent;
    color: #6c757d;
    border-radius: 0 30px 30px 0;
    box-shadow: none !important;
  }
  .navbar-custom .button-menu-mobile {
    border: none;
    color: #323a46;
    display: inline-block;
    height: 70px;
    line-height: 80px;
    width: 60px;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
  }
  .navbar-custom .button-menu-mobile.disable-btn {
    display: none;
  }

  .logo {
    display: block;
  }
  .logo span.logo-lg {
    display: block;
  }
  .logo span.logo-sm {
    display: none;
  }
  .logo .logo-lg-text-dark {
    color: #323a46;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
  }
  .logo .logo-lg-text-light {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
  }
  .logo-box {
    height: 80px;
    width: 270px;
    float: left;
    transition: all 0.1s ease-out;
    padding-left: 24px;
  }
  @media (max-width: 991px) {
    .logo-box {
      padding-left: 0;
    }
  }
  .logo-box .logo {
    line-height: 80px;
  }
  
  .noti-scroll {
    max-height: 230px;
  }
  .notification-list {
    margin-left: 0;
  }
  .notification-list .noti-title {
    background-color: transparent;
    padding: 15px 20px;
  }
  .notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 27px;

    width: 6px;
    height: 6px;
    border-radius: 50%;
    padding: 0;
  }
  .notification-list .notify-item {
    padding: 12px 20px;
  }
  .notification-list .notify-item .notify-icon {
    float: left;
    height: 36px;
    width: 36px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
  }
  .notification-list .notify-item .notify-details {
    margin-bottom: 5px;
    overflow: hidden;
    margin-left: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #343a40;
  }
  .notification-list .notify-item .notify-details b {
    font-weight: 500;
  }
  .notification-list .notify-item .notify-details .small,
  .notification-list .notify-item .notify-details small {
    display: block;
  }
  .notification-list .notify-item .notify-details span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
  }
  .notification-list .notify-item .user-msg {
    margin-left: 45px;
    white-space: normal;
    line-height: 16px;
  }
  .notification-list .profile-dropdown .notify-item {
    padding: 7px 20px;
  }
  .noti-icon {
    font-size: 21px;
    vertical-align: middle;
  }
  .profile-dropdown {
    min-width: 170px;
  }
  .profile-dropdown i {
    vertical-align: middle;
    margin-right: 5px;
  }
  .nav-user {
    padding: 0 12px !important;
  }
  .nav-user img {
    height: 44px;
    width: 44px;
    padding: 2px;
    border: 1.5px solid #D72650;
    object-fit: cover;
    object-position: top center;
  }
  .page-title-main {
    margin: 0;
    line-height: 80px;
    padding: 0 24px;
    font-size: 20px;
    font-weight: 700;
  }


  /* Menu Left */
  .left-side-menu {
    width: 270px;
    background: var(--ct-bg-leftbar);
    bottom: 0;
    padding: 13px 0;
    position: fixed;
    transition: all 0.1s ease-out;
    top: 80px;
    box-shadow: var(--ct-box-shadow);
  }
  .left-side-menu .user-box {
    display: none;
  }
  .left-side-menu .user-box .img-thumbnail {
    background-color: inherit;
    border-color: var(--ct-left-menu-user-box-border);
  }


  #sidebar-menu > ul {
    list-style: none;
    padding: 0;
  }
  #sidebar-menu > ul > li  {
    padding: 0 24px 0 20px;
    margin-bottom: 27px;
  }
  #sidebar-menu > ul > li > a {
    color: var(--ct-menu-item);
    display: flex;
    align-items: center;
    padding: 4px 14px;
    position: relative;
    transition: all 0.4s;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
  }
  #sidebar-menu > ul > li > a:hover {
    background: rgba(215,38,80,0.1);
  }
  #sidebar-menu > ul > li > a:hover i::before {
    color: #D72650;
  }
  #sidebar-menu > ul > li > a:active,
  #sidebar-menu > ul > li > a:focus,
  #sidebar-menu > ul > li > a:hover {
  
    text-decoration: none;
  }
  #sidebar-menu > ul > li > a > span {
    vertical-align: middle;
  }
  #sidebar-menu > ul > li > a i {
    display: inline-block;
    
    margin: 0 14px 0 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
  }
  #sidebar-menu > ul > li > a i::before {
    color: #818089;
  }
  #sidebar-menu > ul > li > a svg {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-right: 10px;
  }
  #sidebar-menu > ul > li > a .drop-arrow {
    float: right;
  }
  #sidebar-menu > ul > li > a .drop-arrow i {
    margin-right: 0;
  }
  #sidebar-menu > ul > li > a.mm-active {
    color: var(--ct-menu-item-active);
  }
  #sidebar-menu > ul > li ul {
    margin-top: 7px;
    padding-left: 47px;
    list-style: none;
  }
  #sidebar-menu > ul > li ul ul {
    padding-left: 20px;
  }
  #sidebar-menu .badge {
    margin-top: 4px;
  }
  #sidebar-menu .menu-title {
    padding: 10px 20px;
    letter-spacing: 0.05em;
    pointer-events: none;
    cursor: default;
    font-size: 0.6875rem;
    text-transform: uppercase;
    color: var(--ct-menu-item);
    font-weight: 500;
  }
  
  #sidebar-menu .menuitem-active > a {
    background: rgba(215,38,80,0.1);
  }
  
  #sidebar-menu .menuitem-active a i::before {
    color: #D72650;
  }

  #sidebar-menu .menuitem-active .menu-arrow {
    color: #D72650;
  }

  .nav-second-level li {
    margin-bottom: 7px;
  }  
.nav-second-level li a {
    padding: 4px 11px;
    color: var(--ct-menu-item);
    display: block;
    position: relative;
    transition: all 0.4s;
    font-size: 14px;
    font-weight: 600;
  }
  .nav-second-level li a:focus,
  .nav-second-level li a:hover {
    color: var(--ct-menu-item-hover);
  }
  .nav-second-level li.active > a {
    color: var(--ct-menu-item-active);
  }
  .menu-arrow {
    transition: transform 0.15s;
    position: absolute;
    right: 9px;
    display: inline-block;
    font-family: "Material Design Icons";
    text-rendering: auto;
    line-height: 1.5rem;
    font-size: 1.1rem;
    transform: translate(0, 0);
  }
  .menu-arrow:before {
    content: "\f0142";
  }
  [dir="rtl"] .menu-arrow:before {
    content: "\f0141";
  }
  li > a[aria-expanded="true"] > span.menu-arrow {
    transform: rotate(90deg);
  }
  li.menuitem-active > a:not(.collapsed) > span.menu-arrow {
    transform: rotate(90deg);
  }
  body[data-leftbar-size="condensed"] .logo-box {
    width: 70px !important;
  }
  body[data-leftbar-size="condensed"] .logo span.logo-lg {
    display: none;
  }
  body[data-leftbar-size="condensed"] .logo span.logo-sm {
    display: block;
  }
  body[data-leftbar-size="condensed"] .left-side-menu {
    position: absolute;
    padding-top: 0;
    width: 70px !important;
    z-index: 5;
  }
  body[data-leftbar-size="condensed"] .left-side-menu .simplebar-content-wrapper,
  body[data-leftbar-size="condensed"] .left-side-menu .simplebar-mask {
    overflow: visible !important;
  }
  body[data-leftbar-size="condensed"] .left-side-menu .simplebar-scrollbar {
    display: none !important;
  }
  body[data-leftbar-size="condensed"] .left-side-menu .simplebar-offset {
    bottom: 0 !important;
  }
  body[data-leftbar-size="condensed"] .left-side-menu #sidebar-menu .badge,
  body[data-leftbar-size="condensed"] .left-side-menu #sidebar-menu .label,
  body[data-leftbar-size="condensed"] .left-side-menu #sidebar-menu .menu-arrow,
  body[data-leftbar-size="condensed"] .left-side-menu #sidebar-menu .menu-title {
    display: none !important;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    .nav.collapse {
    height: inherit !important;
  }
  body[data-leftbar-size="condensed"] .left-side-menu #sidebar-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li
    > a {
    padding: 15px 20px;
    min-height: 54px;
    transition: none;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li
    > a:active,
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li
    > a:focus,
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li
    > a:hover {
    color: var(--ct-menu-item-hover);
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li
    > a
    i {
    font-size: 1rem;
    margin-right: 20px;
    margin-left: 5px;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li
    > a
    svg {
    width: 18px;
    height: 18px;
    margin-left: 6px;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li
    > a
    span {
    display: none;
    padding-left: 25px;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > a {
    position: relative;
    width: calc(190px + 70px);
    color: var(--ct-menu-item-active);
    background-color: #f8f9fa;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > a
    span {
    display: inline;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    a.active
    :after,
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    a.open
    :after {
    display: none;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > .collapse,
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > .collapsing {
    display: block !important;
    height: auto !important;
    transition: none !important;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > .collapse
    > ul,
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > .collapsing
    > ul {
    display: block !important;
    left: 70px;
    position: absolute;
    width: 190px;
    box-shadow: var(--ct-box-shadow-condensed);
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > .collapse
    > ul
    ul,
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > .collapsing
    > ul
    ul {
    box-shadow: var(--ct-box-shadow-condensed);
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > .collapse
    > ul
    a,
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > .collapsing
    > ul
    a {
    box-shadow: none;
    padding: 8px 20px;
    position: relative;
    width: 190px;
    z-index: 6;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > .collapse
    > ul
    a:hover,
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    > li:hover
    > .collapsing
    > ul
    a:hover {
    color: var(--ct-menu-item-hover);
  }
  body[data-leftbar-size="condensed"] .left-side-menu #sidebar-menu > ul ul {
    padding: 5px 0;
    z-index: 9999;
    display: none;
    background-color: var(--ct-bg-leftbar);
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    ul
    li:hover
    > .collapse,
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    ul
    li:hover
    > .collapsing {
    display: block !important;
    height: auto !important;
    transition: none !important;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    ul
    li:hover
    > .collapse
    > ul,
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    ul
    li:hover
    > .collapsing
    > ul {
    display: block;
    left: 190px;
    margin-top: -36px;
    position: absolute;
    width: 190px;
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    ul
    li
    > a
    span.pull-right {
    position: absolute;
    right: 20px;
    top: 12px;
    transform: rotate(270deg);
  }
  body[data-leftbar-size="condensed"]
    .left-side-menu
    #sidebar-menu
    > ul
    ul
    li.active
    a {
    color: var(--ct-menu-item-active);
  }
  /* Menu Left */


  /* Page Content */
  .content-main {
    display: flex;
    flex-wrap: wrap;


  }
  .content-main .main-left {
    width: 80%;
    padding-right: 7px;
  }
  .content-main .main-right {
    width: 20%;
    padding-left: 23px;
  }

  @media screen and (max-width: 1850px) {
    .content-main .main-left {
      width: 100%;
      padding-right: 0;
    }

    .content-main .main-right {
      width: 100%;
      padding-left: 0;
    }
  }

  @media screen and (max-width: 1550px) {
    .col-t-12 {
      width: 100%;
    }
  }

  .day-top .form-select {
    width: 200px ;
    border: 1px solid #D72650;
    margin-right: 10px;
  }
  .day-top  .menu-tab li {
    cursor: pointer;
    background: #FFFFFF;

    border: 1px solid #D72650;
    border-radius: 4px;
    padding: 7px 15px;
    margin-right: 10px;
    transition: 0.3s all ease-in-out;
  }
  .day-top .menu-tab li.active ,.day-top  .menu-tab li:hover  {
    background: #D72650;
    color: #fff;
  }
  .day-top .form-group {
    margin-left: 45px;
  }
  .day-top .form-group .input-group {
    display: flex;
    flex-wrap: nowrap;
  }
  .day-top .fc-datepicker {
    width: 158px;
    height: 36px;
  }
  .day-top .button , .cld .button {
    background: var(--ct-primary);
    width: 36px;
    height: 36px;
    border-radius: 4px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .day-top .button i {
    color: #fff;
  }



  .bg-active {
    background-color: #D72650 !important;
  }
  .bg-assigned {
    background-color: #1577EA !important;
  }
  .bg-need-assigned {
    background-color: #F38535 !important;
  }
  .bg-cancel {
    background-color: #818089 !important;
  }
  .bg-complete {
    background-color: #48BC65 !important;
  }
  .primary {
    color: rgba(215, 38, 80, 1);
  }
  .success {
    color: rgba(72, 188, 101, 1);
  }
  .bg-up {
    background: rgba(72, 188, 101, 0.1);
  }
  .bg-down {
    background: rgba(215, 38, 80, 0.1);
  }

  .main-left.flat-tabs .content-tab {
    margin-top: 21px;
  }
  .main-left.flat-tabs .content-tab .content-inner {
    display: flex;
    margin: 0 -12px;
  }

  @media screen and (max-width: 1250px) {
    .main-left.flat-tabs .content-tab .content-inner {
      flex-wrap: wrap;
    }
    .day-top {
      flex-wrap: wrap;
    }
  }
.center {
  text-align: center;
}
  
.card-body {
  flex: 1 1 auto;
  padding: 32px 31px 31px 30px;
  
}

.card.calendar-b .card-body {
  padding: 24px 40px 20px 30px;
}

.staffs .card-body {
  padding: 35px 31px 31px 30px;
}


.table-responsive table td.user {
  min-width: 190px;
}

.staffs .table-responsive table td.branch {
  min-width: 120px;
}
.staffs .table-responsive table td.access {
  min-width: 160px;
}
.list-room .card-body {
  padding: 35px 31px 31px 30px;
}

.list-room .card-body .form-select {
  border-color: #D72650;
  margin-left: 40px;
  padding: 6px 100px 6px 18px;
}
@media screen and (max-width: 400px) {
  .list-room .card-body .form-select {
    margin-left: 24px;
    padding: 6px 35px 6px 10px;
  }
}
@media screen and (max-width: 991px) {
  .list-room .card-body .top {
    flex-wrap: wrap;
  }

  

  .list-room .card-body .top .list-btn {
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .list-btn a {
    margin-bottom: 10px;
  }

  .booking-details .card-body .content .left .top .list-btn a {
    margin-bottom: 0;
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .booking-details .card-body .content .left .top .list-btn {
    flex-wrap: wrap;
  }
}


.list-btn a {
  margin-left: 5px;
}


.btn-create {
  border: 1.5px solid #D72650;
  font-size: 12px;
  font-weight: 600;
  color: #151519;
border-radius: 12px;
padding: 8px 10px;
display: inline-block;
}

.btn-create:hover {
  background: #D72650;
  color: #fff;
}

.side-order .card-body {
  padding: 32px 31px 26px 30px;
}

  .list-cal {
    display: flex;
  }
 
  

  .list-cal li {
    margin-left: 20px;
    font-weight: 400;
font-size: 12px;
text-transform: uppercase;
color: #151519;
  }

  .list-cal li span {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 6px;
  }

  @media screen and (max-width:600px) {
    .list-cal {
      flex-wrap: wrap;
      float: left !important;
    }

    .list-cal li {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  .top-box {
    background: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(28, 36, 51, 0.1);
    border-radius: 8px;
    padding: 17px 24px 19px;

    width: 20%;
    margin: 0 12px;
  }

  @media screen and (max-width: 1250px) {
    .top-box {
      width: calc(33.33% - 24px);
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 650px) {
    .top-box {
      width: calc(50% - 24px);
    
    }
  }

  @media screen and (max-width: 450px) {
    .top-box {
      width: 100%;
    
    }
  }
  .top-box .title {
    font-weight: 600;
    font-size: 34px;
    margin-top: 14px;
    margin-bottom: 15px;
    letter-spacing: -0.5px;
  }
  @media screen and (max-width: 1400px) {
    .top-box .title {
      font-size: 25px;
    }
  }
  .top-box div p {
    font-weight: 600;
    font-size: 12px;
    margin-right: 5px;
  }
  .top-box .unit , .unit-1 {
    display: inline-block;
    border-radius: 4px;
    padding: 5px;
    font-weight: 500;
    color: #151519;
    font-size: 12px;
    min-width: 62px;
  }

  .top-box .unit .mdi {
    font-size: 14px;
    margin-right: 1px;
  }
  
  .fc-list-item-time {
    display:none;
  }
  .btn-view {
    padding: 4px 13px;
    background: rgba(215,38,80,0.08);
    border-radius: 12px;
    font-weight: 600;
  font-size: 12px;
  

  }
  .btn-view:hover {
    background: var(--ct-link-hover-color);
    color: #fff;
  }

  .access {
    padding: 4px 13px;
    background: rgba(215,38,80,0.08);
    border-radius: 12px;
    font-weight: 600;
  font-size: 12px;
  color: #D72650;
  }
  .booking {
    margin: 20px -10px 0;
  }

  .booking.outlets {
    margin: 24px -10px 0;
  }

  .booking .card {
    box-shadow: 0px 2px 8px rgba(28, 36, 51, 0.16);
    width: calc(50% - 20px);
    margin: 0 10px 20px;
  }

  @media screen and (max-width: 650px) {
    .booking .card {
      width: calc(100% - 20px);
      margin-bottom: 20px !important;
    }
  }

  .outlets .card {
    margin: 0 10px 26px;
  }

  .booking .card:nth-child(3) , .booking .card:nth-child(4) {
    margin-bottom: 0;
  }

  .booking .card .card-body {
    padding: 19px 19px 25px;
  }
  .booking .card .card-body .name {
    align-items: center;
    margin-bottom: 13px;
  }
  .booking .card .card-body .name h6 {
    margin: 0;
    font-size: 16px;
    margin-right: 16px;
  }

  .booking .card .card-body .name div {
    align-items: center;
   
  }

  .booking .card .card-body .name div p {
    font-weight: 400;
    font-size: 10px;
    margin-right: 10px;
  }

  .booking .card .card-body .name div .icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D72650;
  }

  .booking .card .card-body .info {
    flex-wrap: wrap;
  }
  .booking .card .card-body .info .info-b {
    width: 50%;
    margin-bottom: 5px;
  }

  .booking .card .card-body .info .info-b p {
    font-size: 12px;
  }

  .booking .card .card-body .info .info-b h6 {
    margin: 6px 0 10px;
    font-weight: 600;
font-size: 12px;
  }

  .booking .card .card-body .group-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 -8px;
    margin-top: 11px;

  }

  .booking .card .card-body .group-btn a {
    width: 50%;
    padding: 8px 0;
    margin: 0 8px;
    font-weight: 600;
font-size: 12px;
  }
  .outlets .card .card-body .info {
    padding-top: 14px;
  }
  .outlets .card .card-body .info .name {
    font-size: 18px;
    font-weight: 600;
  }

  .card.list-order {
    box-shadow: 0px 2px 8px rgba(28, 36, 51, 0.16);
    margin-top: 20px;
    margin-bottom: 0;
  }

  .card.list-order .card-body {
    padding: 14px 0 7px;

  }
  .order {
  
    padding: 0 20px;
    margin-bottom: 27px;
  }
  .order:last-child {
    margin-bottom: 0;
  }
  .order .list {
    justify-content: space-between;
  }

  .order .list li p {
    font-size: 12px;
    font-weight: 400;
  }
  .order .list li h6 {
    margin: 4px 0 11px;
    font-size: 12px;
    font-weight: 600;
  }
  .order .list li.image{
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    overflow: hidden;
    margin-right: -18px;
    padding: 0;
  }

  @media screen and (max-width: 700px) {
    .order .list li.image {
      margin-right: 10px;
    }

    .order .list{
      width: 100%;
      overflow: auto;
    }
    .order .list li {
      padding: 0 5px;
      min-width: 130px;
    }
  }

  .order .list li.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .order .list li.one div p {
    background: rgba(215,38,80,0.1);
    border-radius: 6px;
    padding: 3px 8px;
     color: #D72650;
     margin-right: 6px;
     font-size: 10px;
     font-weight: 600;
  }

  .order .list li:nth-child(3) p , .order .list li:nth-child(4) p,.order .list li:nth-child(5) p {
    margin-top: 5px;
    margin-bottom: 6px;
  }

  .btn-action {
    padding: 8px 20px;
    text-align: center;
    border: 1px solid #D72650;
border-radius: 12px;
color: #151519;
  }
   .btn-action:hover , .btn-action.active {
    color: #fff;
    background: #D72650;
  }
  .account-pages .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .account-pages .card-body {
    padding: 80px 200px;
  }

  .text-right {
    text-align: right;
  }

  .page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .page-404 .content h1 {
    font-size: 212px;
    font-weight: 400;
    color: #D72650;
  }
  .page-404 .content h4
  {
    font-weight: 700;
font-size: 32px;
  }

  .page-404 .content .btn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 12px;
    background: #D72650;
    color: #fff;
  }

  .page-404 .content .btn:hover{
  background: #151519;    
  }
  
  .app-search-box {
    min-width: 250px;
    margin-right: 10px;
 
  }

  @media screen and (max-width: 768px) {
    .app-search-box {
   
      margin-bottom: 10px;
    }
  }

  /* @media screen and (min-width: 750px) {
    .btn-create {
      float: right;
    }
  } */

  

  .filter-top {
    margin-top: 24px;
    flex-wrap: wrap;
  }
  .filter-top .form-control {

    border-radius: 5px;
    border: 1px solid #E5E5E5;
    border-right: 0;
  }
  .filter-top .form-select {
    max-width: 200px;
    margin-right: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
  }
  .filter-top .btn {
    border: 1px solid #E5E5E5;
    border-left: 0;
    border-radius: 5px;
  }
  .table-responsive {
    margin-top: 11px;
  }

  .table-responsive thead tr th {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #818089;
  }
  .table-responsive td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  .table > :not(caption) > * > * {
    vertical-align: middle;
  }
td ul li {
  margin: 0 10px;
}
td ul li a {
  color: #818089;

  text-align: center;
}
  td ul li a span {
    display: block;
    font-size: 20px;
  }

  .outlets .card .card-body .image{
    min-width: 120px;
    width: 120px;
    height: 120px;
    border-radius: 12px;
    overflow: hidden;
    margin-right: 20px;
  }

  .outlets .card .card-body .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 
  .outlets .card .card-body {
    padding: 19px 19px 20px;
  }

  @media screen and (max-width: 1250px) {
    .outlets .card .card-body {
      flex-wrap: wrap;
    }
  }

  .outlets .card .card-body .info .map{
    margin: 6px 2px 19px;
  }
  .outlets .card .card-body .info .map span {
    margin-right: 8px;
  }

  .outlets .card .card-body .info ul {
    flex-wrap: wrap;
  }


  .outlets .card .card-body .info ul li {
    padding: 6px 13px;
    font-weight: 400;
font-size: 12px;
background: rgba(195,194,209,0.2);
border-radius: 8px;
color: #151519;
margin-right: 6px;
margin-bottom: 6px;
  }
  .outlets .card .card-body .info ul li svg {
    margin-right: 5px;
  }
  .outlets .card .card-body .info ul li span {
    margin-right: 9px;
  }

  .outlets .card .card-body .info ul li.open {
    background: rgba(215,38,80,0.1);
    color: #D72650;


  }

  .card .card-body .unit {
      background: #D72650;
      padding: 6px 9px;
      border-radius: 8px;
      position: absolute;
      right: 20px;
      top: 20px;
      color: #fff;
      font-size: 10px;
      font-weight: 600;
  }
  .fb-order .card .card-body .unit {
    right: 12px;
    top: 12px;
  }
  .fb-order .btn-create {
    margin-top: -12px;
  }

  .fb-order .card-body {
    padding: 45px 31px 31px 30px;
}

.orders {
  margin:  24px -10px;
  
}
  .orders .card {
    width: calc(33.33% - 20px);
    box-shadow: 0px 2px 8px rgba(28, 36, 51, 0.16);
    margin: 0 10px 20px;
  } 

  @media screen and (max-width: 1350px) {
    .room .card {
      width: calc(50% - 20px);
    } 
  }

  @media screen and (max-width: 760px) {
    .room .card {
      width: 100%;
    } 
  }

  @media screen and (max-width: 420px) {
    .room .card .card-body {
      flex-wrap: wrap;
    } 
  }

  .orders .card .card-body .image {
    width: 100%;
    height: 100%;
    max-height: 186px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin-bottom: 7px;
  }

  .orders .card .card-body .image img {
    width: 100%;
    height: 186px;
    object-fit: cover;
    object-position: center center;
  }

  .fb-order .orders .card .card-body {
    padding: 20px 20px 24px;
  }

  .fb-order .orders .card .card-body .content {
    align-items: flex-end;
  }

  .fb-order .orders .card .card-body .name {
    font-weight: 600;
font-size: 18px;
display: block;
margin-bottom: 14px;
  }
  .fb-order .orders .card .card-body .text {
    font-weight: 400;
font-size: 12px;
  }

  @media screen and (max-width: 1550px) {
    .fb-order .orders .card .card-body .content .info {
      padding-right: 10px;
    }
  }

  @media screen and (max-width: 1370px) {
    .fb-order .orders .card {
      width: calc(50% - 20px);
    }
  }

  @media screen and (max-width: 768px) {
    .fb-order .orders .card {
      width: 100%;
    }
  }

  .quality {
    min-width: 103px;
    width: 103px;
    height: 34px;
    font-size: 12px;
font-weight: 400;
    background: rgba(195,194,209,0.2);
    border-radius: 8px;
    margin-bottom: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quality span {
    margin-left: 7px;
    font-size: 14px;
    font-weight: 600;
    color: #D72650;
  }

  @media screen and (max-width: 760px) {
    .wr {
      flex-wrap: wrap;
    }

    .form-select {
      margin-bottom: 10px;
    }

    .day-top .form-group {
      margin-left: 0;
    }

    .day-top .menu-tab {
      margin-right: 10px;
      margin-bottom: 10px;
    }

  }
  .modal-create h5 {
    padding: 0;
  }
  .modal-create .modal-dialog {
    max-width: 610px;
  }

  .modal-create .modal-dialog .modal-body {
    padding: 29px;
  }


  
  .file-upload .image-box {
      margin: 0 auto;
      margin-top: 1em;
      height: 164px;
      width: 100%;
      background: #FAFAFA;
      cursor: pointer;
      overflow: hidden;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .col-ting .file-upload .image-box {
    height: 320px;
  }

  .file-upload .image-box img {
    height: 100%;
    display: none;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .file-upload .image-box p {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #151519;
    margin-top: 5px;
  }

  .form-group.day-top {
    position: absolute;
    right: 30px;
    top: 30px;
  }



  #edit-modal .file-upload .image-box img, #edit-modal-1 .file-upload .image-box img {
    display: block;
  }

  .categories form {
    margin-top: 27px;
  }

  .categories form .form-label {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
  }
  .categories form input, .categories form select {
    padding: 13px;
  }

  .categories .file-upload .image-box  {
    margin-top: 0;
    height: 160px;
  }
  .categories .file-upload .image-box p {
    margin-top: 14px;
  }
  .categories .btn  {
    margin-top: 6px;
    padding: 8px 34px;
    font-weight: 600;
font-size: 12px;
margin-right: 5px;
  }

  .group-check {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    margin-top: 25px;
  }

  .group-check .form-check {
    width: calc(50% - 10px);
    margin: 0 5px;
    margin-bottom: 13px;

  }

  .group-check .form-check:nth-last-child(1) , .group-check .form-check:nth-last-child(2) {
    margin-bottom: 0;
  }
  .room .card {
    margin: 0 10px 24px;
  }
  .room .card .card-body .image {
    min-width: 120px;
    width: 120px;
    height: 120px;
    margin-bottom: 0;
    margin-right: 16px;
  }

  .room .card .card-body .image img {
    height: 100%;
  }

  .room .card .card-body {
    padding: 20px;
  }

  .room .card .card-body .info .name{
    font-weight: 600;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 12px;
    display: block;

    white-space: nowrap;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .room .card .card-body .info h6 {
    font-weight: 600;
font-size: 14px;
    margin: 4px 0 19px;
  }
  .room .card .card-body .info .total {
    display: flex;
  }

  .room .card .card-body .info .total svg {
    margin-right: 7px;
  }

  .booking-details .card-body .image {
    width: 100%;
    height: 330px;
  }

  .booking-details .card-body .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .booking-details .card-body .content {
    padding: 24px 0 0;
  }
  .booking-details .card-body .content .left {
    width: 75%;
    padding-right: 53px;
  }

  .booking-details .card-body .content .left .category {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #D72650;
    letter-spacing: 1px;
  }

  .booking-details .list-btn a {
    padding: 8px 14px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 3px;
    margin-left: 12px;
  }

  .booking-details .list-btn a:first-child {
    margin-left: 0;
  }

  .booking-details .card-body .content .left .title {
    font-size: 32px;
    margin-bottom: 7px;
  }


  .booking-details .card-body .content .left .top {
    padding-bottom: 19px;
    flex-wrap: wrap;
  }

  .booking-details .card-body .rating {
      padding: 13px 0;
      margin: 28px 0 26px;
      border-width: 1px 0 1px 0;
      border-style: solid;
      border-color: #EEEEEE;
  }

  .booking-details .card-body .rating h6 {
    font-weight: 600;
    font-size: 18px;
    
  }

  .booking-details .card-body .unit {
    position: relative;
    right: 0;
    top: 0;
    padding: 8px 12px;
    font-weight: 600;
font-size: 12px;
  }

 
  .review .heading {
    font-weight: 600;
font-size: 18px;
margin-bottom: 21px;
  }

  .review .heading span {
    font-size: 14px;
    font-weight: 400;
  }

  .review .review-b {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EAEDF3;
  }

  .review .review-b:nth-last-child(2) {
    border: none;
    margin-bottom: 6px;
  }
  .review .review-b .top {
    padding-bottom: 14px !important;
  }

  .review .review-b p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
  }

  .review .review-b .info img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    float: left;
    margin-right: 13px;
  }

  .review .review-b .info .name {
    font-weight: 500;
    font-size: 14px;
    margin: 2px 0 6px;
  }

  .review .review-b .info .day {
    font-weight: 400;
font-size: 12px;
color: #C3C2D1;
  }

  .review .view {
    font-weight: 600;
font-size: 12px;
padding: 8px 16px;
    background: rgba(215, 38, 80, 0.1);
border-radius: 12px;
color: #D72650;
  }

  
  .booking-details .card-body .content .right {
    width: 25%;
    padding-left: 48px;
  }

  .right .heading {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 22px;
  }
  .right .box {
    margin-bottom: 35px;
  }
  .right .box ul li {
    margin-bottom: 12px;
  }

  .right .box ul li svg {
    margin-right: 14px;
  }

  @media screen and (max-width: 1400px) {
    .booking-details .card-body .content {
      flex-wrap: wrap;
    }

    .booking-details .card-body .content .left {
      width: 100%;
      padding-right: 0;
    }

    .booking-details .card-body .content .right {
      width: 100%;
      padding-left: 0;
    }
  }

  .list-img {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }

  .list-img .img {
    width: calc(50% - 10px);
    height: 100px;
    border-radius: 4px;
    margin: 5px;
    overflow: hidden;

    position: relative;
  }

  .list-img .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .list-img .img:last-child::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(62, 63, 66, 0.7), rgba(62, 63, 66, 0.7));
border-radius: 4px;
  }

  .list-img .img:last-child::after {
    font-family: 'Roboto';
    content: '+16';
    font-weight: 500;
    font-size: 26px;
    position: absolute;
    z-index: 2;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .booking-details.s1 .card-body .image img  {
    object-position: center;
  }

  @media screen and (max-width: 1200px) {
    div#calendar {
      width: 100%;
    }

    .fc-timegrid-body {
      width: 100% !important;
    }

    .fc-timegrid-body table {
      width: 100% !important;
    }
  }

  .list-items-details .header-title {
    font-size: 18px;
  }

  .list-items-details .btn-create {
    font-size: 10px;
    margin-top: -10px;
  }

  .main-left.s1 {
  display: flex;
  }
  .col-left {
    width: 70%;
    padding-right: 27px;
  }

  .col-right {
    width: 30%;
    padding-left: 2px;
  }

.list-items-details .card-body {
  padding: 26px 20px 31px 20px;
}

.food-items-list {
  margin-top: 28px;
}
.food-items-list .list {
  justify-content: space-between;
  margin-bottom: 20px;
}
.food-items-list .list .image {
  float: left;
  min-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 2px;
  overflow: hidden;
  margin-right: 12px;
}

.food-items-list .list .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-items-list .list .info .name {
  font-weight: 600;
  font-size: 14px;
  margin: 1px 0 9px;
}

.food-items-list .list .info .categories{
  font-weight: 600;
  font-size: 12px;
  margin: 4px 0 0px;
}

.food-items-list .list .info p {
  font-weight: 400;
  font-size: 10px;
}

.food-items-list .list .price {
  padding: 3px 12px;
  background: rgba(215, 38, 80, 0.1);
  border-radius: 6px;
  color: #D72650;
  font-weight: 600;
  font-size: 10px;
  text-align: center;
}

.food-items-list .list li.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.food-items-list .list-action  {
  display: flex;
  margin-top: 16px;
}

.food-items-list .list-action a {
  font-size: 18px;
  margin-right: 23px;
}

.food-items-list .list-action a:last-child {
  margin-right: 0;
}

.modal.room .modal-dialog {
  max-width: 1006px;
}

.room .file-upload .image-box {
  height: 170px;
  margin-top: 0;
}

.image-box p span {
  color: #D72650;
}

.mg-0 {
  margin: 0 !important;
}

.upload__box {

  display: flex;
  flex-wrap: wrap;
  margin: 25px -8px 0;
  max-height: 715px;
  overflow: auto;
}

.upload__box::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 11px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.upload__inputfile {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload__btn {

  cursor: pointer;


  width: 100%;
  height: 122px;
  background: rgba(195,194,209,0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  

}

.upload__btn p {
  padding: 0;
  font-weight: 600;
  font-size: 12px;
  color: #818089;
}


.upload__btn-box {
  margin: 0 8px;
  width: calc(50% - 16px);
}

.upload__img-wrap {
 
  width: 100%;
  height: 100%;
  overflow: hidden;

  margin-top: 16px;
  
  display: flex;
  flex-wrap: wrap;
}

.upload__img-box {
  margin: 0 8px 16px;
  width: calc(50% - 16px);
  height: 122px;
  overflow: hidden;
  border-radius: 8px;
}
.upload__img-close {
  width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        line-height: 24px;
        z-index: 1;
        cursor: pointer;
}

.upload__img-close::after{
  content: '\2716';
    font-size: 14px;
    color: white;
}



.img-bg {
  background-repeat: no-repeat;
  background-position:  center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-create textarea.form-control {
  background: #FAFAFA;
  height: 101px;

    border: 1px solid #EAEAEA;
    border-radius: 8px;
}

.food .col-ting .file-upload .image-box {
  height: 170px;
}



/* dsadsa */



input,
output {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

output {
  background: #D72650;
  padding: 5px 16px;
  border-radius: 3px;
  color: #fff;
}

input[type="number"] {
  width: 40px;
  padding: 4px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

/* input[type="range"]:focus,
input[type="number"]:focus {
  box-shadow: 0 0 3px 1px #4b81dd;
  outline: none;
} */

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 100%;
  height: 3px;
  background: #E5E5E5;
  border-radius: 5px;
  background-image: linear-gradient(#D72650, #D72650);
  background-size: 40% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #D72650;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: all .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #D72650;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: all .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #D72650;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: all .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-ms-thumb:hover {
  background: #ff0200;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.payment-menthod .card-body .card {
  margin-bottom: 20px;
}
.payment-menthod .card-body .card .card-body {
  padding: 8px 11px 15px;

}

.payment-control h4{
  font-weight: 600;
font-size: 16px;
margin: 10px 0 8px;
}

.payment-control p {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.payment-control p span {
  margin-right: 7px;
}


.col-lg-left {
  width: 77%;
}

.col-lg-right {
  width: 23%;
}

@media screen and (max-width : 1550px) {

  .row.pm {
    flex-wrap: wrap;
  }
  
.col-lg-left {
  width: 100%;
}

.col-lg-right {
  width: 100%;
}

  .payment-menthod .card-body .card {
    width: calc(25% - 20px);
    margin: 0 10px 20px;
  }

  .control-p {
    display: flex;
    flex-wrap: wrap;
    margin:  0 -10px;
  }
}

@media screen and (max-width : 1250px) {
  .payment-menthod .card-body .card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width : 550px) {
  .payment-menthod .card-body .card {
    width: 100%;
  }
}

.total-number .form-select {
  border-color: #D72650;
  margin-left: 40px;
  padding: 6px 20px 6px 18px;
  width: 200px;
}

#morris-bar-example {
  margin-top: 20px;
}
.mg-12 {
  margin: 0 -12px;
}

.mb-30 {
  margin-bottom: 30px;
}

.col-xl-left {
  width: 60%;
}
.col-xl-right {
  width: 40%;
}

@media screen and (max-width: 1400px) {
  .col-xl-left , .col-xl-right {
    width: 100%;
  }
}

.total-post .post {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #818089;
  margin-top: 15px;
  margin-bottom: 82px;
  letter-spacing: 0.8px;
}

.total-post .post span {
  margin-left: 15px;
  font-weight: 600;
  font-size: 14px;
  color: #151519;
}

.progres div p {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #818089;
  width: 73px;
}

.progres div .bar {
  height: 5px;
  border-radius: 3px;
  margin-right: 10px;
}

.progres div h6 {
  font-weight: 600;
font-size: 14px;
color: #151519;
}

.progres div.read .bar {
  background: #D72650;
  width: 107px;
}

.progres div.unread .bar {
  background: rgba(195, 194, 209, 0.7);
  width: 46px;
}

.main-left.flat-tabs.reportdaily .content-tab .content-inner {
  display: block;
}

@media screen and (max-width: 1550px) {

  .top-chart {
    flex-wrap: wrap;
    justify-content: center;
  }

  .reportdaily .top-box{
    width: calc(33.33% - 24px);
    margin-bottom: 24px;
  }
  
}

@media screen and (max-width: 768px) {

  .reportdaily .top-box{
    width: calc(50% - 24px);
    margin-bottom: 24px;
  }
  
}

@media screen and (max-width: 530px) {

  .reportdaily .top-box{
    width: 100%;
    margin-bottom: 24px;
  }

  .total-post .card .card-body {
    flex-wrap: wrap;
  }

  .total-post .post {
    margin-bottom: 30px;
  }

  .widget-chart-box-1 {
    
    margin: 30px auto 0;
  }
  
}

.code-list {
  margin-top: 20px;
}

.code-list .code-item {
  display: flex;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.code-list .code-item .image {
  min-width: 60px;
  width: 60px;
height: 60px;
border-radius: 4px;
overflow: hidden;
margin-right: 20px;
}

.code-list .code-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.code-list .code-item .info .title {
  font-weight: 600;
font-size: 14px;
color: #151519;
}

.code-list .code-item .info .text {
  font-weight: 400;
  font-size: 12px;
  color: #818089;

  margin: 7px 0 10px;
  padding-right: 40px;
}

.code-list .code-item .bottom {
  display: flex;
}

.code-list .code-item .bottom p {
  font-weight: 400;
  font-size: 10px;
  color: #818089;
  margin-right: 15px;
}

.code-list .code-item .bottom p span {
  font-weight: 600;
  color: #151519;
}
.code-list .code-item .action li {
  margin-left: 22px;
}

.code-list .code-item .action a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  color: #818089;
}

.code-list .code-item .action a span {
  font-size: 20px;
}

.code-list.package {
  
}

.code-list.package .code-item {
  border: none;
  margin: 0;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(28, 36, 51, 0.14);
  
  border-radius: 16px;
  margin-bottom: 20px;
}

.code-list.package .code-item:last-child {
  margin: 0;
}

.code-list.package .code-item .icon {
  min-width: 48px;
  width: 48px;
height: 48px;
background: #D72650;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-right: 20px;
}

.code-list.package .code-item .info .text {
  padding-right: 0;
}

.code-list.package .code-item .bottom {
  margin-right: -85px;
}

@media screen and (max-width: 768px) {
  .code-list .code-item {
    flex-wrap: wrap;
  }

  .code-list .code-item .info {
    margin: 20px 0;
  }

  .code-list .code-item .action li:first-child {
    margin: 0;
  }
}

.pd-0 {
  padding: 0 !important;
}
.banner .top {
  padding: 25px 29px 15px;
  border-bottom: 1px solid #EAEAEA;
}
.banner .top .header-title {
  font-size: 18px;
}
.banner .image-box {
  padding: 23px 0 0;
}
.banner .image-box p{
  margin-top: 15px;
}

.col-left.s1 {
  width: 73%;
}

.col-right.s1 {
  width: 27%;
  padding-left: 17px;
    padding-right: 0;
}

.banner .top-s {
  padding: 29px 29px 22px 31px;
  border-bottom: 1px solid #EAEAEA;

}
.banner .top-s h5 {
  font-weight: 700;
font-size: 16px;
color: #818089;
margin: 0;
margin-right: 40px;
}
.banner .top-s .list {
  display: flex;
}

.banner .top-s .list li {
  margin-right: 23px;
}

.banner .top-s .list li p span {
  color: #D72650;
  font-weight: 600;
}



.po-re {
  position: relative;
}

.draft {
  position: absolute;
  right: 0;
  top: 0;
}

.draft p {
  font-weight: 400;
font-size: 14px;
color: #151519;
position: relative;
}

.draft p::before {
  content: '';
  position: absolute;
  left: -18px;
  top: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FABE3C;
}

.draft p.success::before  {
  background: #48BC65;
}

.banner.s1 {
  margin-bottom: 20px;
}

.banner .body-content {
  padding: 23px 29px 33px 31px;
}

.banner .body-content .title {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #151519;
 
}

.banner .body-content .meta {
  display: flex;
  margin-top: 8px;
  margin-bottom: 5px;
}

.banner .body-content .meta p {
  color: #818089;
  margin-right: 16px;
}

.banner .body-content .meta p span {
  color: #000;
}

.banner .body-content .link a {
  color: #000;
}

.banner .body-content .image {
  width: 680px;
  height: 240px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 18px;
}

@media screen and (max-width:1400px) {
  .banner .body-content .image {
    width: 100%;
  }
  
}

.banner .body-content .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.banner .body-content  .list-action {
  margin-top: 32px;
  display: flex;
}

.banner .body-content  .list-action li {
  margin-right: 14px;
}

.banner .body-content  .list-action li a {
  font-weight: 600;
font-size: 12px;
color: #151519;
  padding: 5px 22px;
  border: 1px solid #C3C2D1;
border-radius: 12px;
}

.col-right.s1 label {
  font-weight: 600;
  font-size: 16px;
  color: #151519;
  margin-bottom: 12px;
}
.banner-p {
  display: flex;
}

@media screen and (max-width:1250px) {
  .banner-p {
    flex-wrap: wrap;
  }

  .col-left.s1 {
    width: 100%;
    padding-right: 0;
  }

  .col-right.s1 {
    width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width:768px) {
  .banner .top-s .d-flex{
    flex-wrap: wrap;
  }
}

.col-left .blog form{
  padding: 25px 29px 56px;
}

.col-left .blog form input {
  border: none;
  outline: none;
}

.blog .body-content {
  padding: 8px 31px 33px 31px;
}

.blog .body-content .image {
  width: 100%;
  margin-bottom: 17px;
}

.blog .body-content .image img {
  object-position: top center;
}

.col-left.s1.s2 {
  padding-right: 37px;
}

.blog .body-content .title {
  text-transform: none;
  font-weight: 600;
  font-size: 20px;

}

.blog .body-content .meta {
  margin-bottom: 13px;
}

.blog .body-content .text {
  font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #818089;
padding-right: 140px;
}




.notification .body-content .title {
  font-weight: 600;
font-size: 18px;
text-transform: none;
}

.notification .body-content .text {
  padding-right: 80px;
}